/* Global styles */
.ui-button {
    padding: var(--spacing-sm) var(--spacing-md);
    border: none;
    border-radius: var(--radius);
    font-size: var(--font-size);
    color: var(--color-text);
    cursor: pointer;
    transition: all var(--transition-speed);
    display: inline-flex;
    align-items: center;
}

.ui-button:focus {
    outline: 2px solid var(--color-primary-hover);
    outline-offset: 2px;
}

/* Variants */
.ui-button.primary {
    background: var(--color-primary);
}

.ui-button.primary:hover {
    background: var(--color-primary-hover);
}

.ui-button.secondary {
    background: var(--color-secondary);
}
.ui-button.secondary:hover {
    background: var(--color-secondary-hover);
}

.ui-button-icon-text {
    margin-right: 8px;
    position: relative;
    top: 1px;
}

.ui-button-icon.lucide {
    position: relative;
    top: 1px;
}

.ui-button.disabled {
    background-color: var(--color-tertiary);
    color: var(--color-muted);
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.7;
}

.ui-button.disabled:hover {
    background-color: var(--color-tertiary);
    color: var(--color-muted);
}