/* Global styles */
.ui-button {
    padding: var(--spacing-sm) var(--spacing-md);
    border: none;
    border-radius: var(--radius);
    font-size: var(--font-size);
    color: var(--color-text);
    cursor: pointer;
    transition: all 0.2s;
    display: inline-flex;
    align-items: center;
}

/* Variants */
.ui-button.primary {
    background: var(--color-primary);
}

.ui-button.primary:hover {
    background: var(--color-primary-hover);
}

.ui-button.secondary {
    background: var(--color-secondary);
}
.ui-button.secondary:hover {
    background: var(--color-secondary-hover);
}

.ui-button-icon-text {
    margin-right: 8px;
    position: relative;
    top: 1px;
}

.ui-button-icon {
    position: relative;
    top: 1px;
}