/* Global styles */
.ui-button {
    padding: var(--spacing-sm) var(--spacing-md);
    border: none;
    border-radius: var(--radius);
    font-size: var(--font-size);
    color: var(--color-text);
    cursor: pointer;
    transition: all 0.2s;
}

/* Tones */
.ui-button.primary {
    background: var(--color-primary);
}

.ui-button.primary:hover {
    background: var(--color-primary-hover);
}

.ui-button.secondary {
    background: var(--color-secondary);
}
.ui-button.secondary:hover {
    background: var(--color-secondary-hover);
}