/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Design Tokens */

:root {
    /* Colors */
    --color-primary: #004A99;
    --color-primary-hover: #0362c6;

    --color-secondary: #536070;
    --color-secondary-hover: #373c41;

    --color-text: #ecedef;
    --color-bg: #ffffff;
    

    /* Spacing */
    --radius: 8px;
    --spacing-sm: 8px;
    --spacing-md: 16px;

    /* Typography */
    --font-size: 1rem;
}

@media (max-width: 640px){
    :root {
        --spacing-sm: 8px;
        --spacing-md: 12px;

        --font-size: 0.95rem;
    }
}
